[submodule "public/javascripts/underscore"]
	path = public/javascripts/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "public/javascripts/backbone"]
	path = public/javascripts/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "public/javascripts/headjs"]
	path = public/javascripts/headjs
	url = git://github.com/headjs/headjs.git
