!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/headjs/dist/head.js')
  body

    #tweet-template
      .tweet-content
        .tweet-row
          .tweet-text {{ username }}
        .tweet-row
          .tweet-text {{ text }}

    #content!= body

    script(type='text/javascript')
      head.js(
        "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js",
        "/javascripts/underscore/underscore.js",
        "/javascripts/backbone/backbone.js",
        "/nowjs/now.js",
        "/javascripts/models.js"
      );
           
